<h2>DESCRIPTION</h2>

<em>i.band</em> allows assigning a band reference information to a
single raster map or to a list of specified raster maps. Band
reference can be defined by <b>band</b> option. Already assigned
band reference can be removed by <b>-r</b> flag. This module also
allows printing detailed band reference information already assigned
to a raster map by <b>-p</b> flag.

<p>
Either a single raster map or a list of raster maps can be given
by <b>map</b> option.

<h2>NOTES</h2>

Note that <i>only raster maps from the current mapsets</i> can be modified.

<p>
For more information about band reference concept
see <em><a href="g.bands.html">g.bands</a></em> module.

<p>Band references are supported by temporal GRASS modules. Name of
STRDS can be extended by band identifier in order to filter the result
by a band reference. See
<em><a href="t.register.html#support-for-band-references">t.register</a></em>,
<em><a href="t.rast.list.html#filtering-the-result-by-band-references">t.rast.list</a></em>, <em><a href="t.info.html#space-time-dataset-with-band-references-assigned">t.info</a></em>
and <em><a href="t.rast.mapcalc.html#band-reference-filtering">t.rast.mapcalc</a></em>
modules for examples.

<h2>EXAMPLES</h2>

<h3>Assign band reference to a single raster map</h3>

<div class="code"><pre>
i.band map=T33UVR_20180506T100031_B01 band=S2_1
</pre></div>

<h3>Assign band reference to a list of raster maps</h3>

<div class="code"><pre>
i.band map=T33UVR_20180506T100031_B01,T33UVR_20180521T100029_B01 band=S2_1,S2_1
</pre></div>

<h3>Assign different band references to a list of raster maps</h3>

<div class="code"><pre>
i.band map=T33UVR_20180506T100031_B01,T33UVR_20180506T100031_B02 band=S2_1,S2_2
</pre></div>

<h3>Remove band reference from a list of raster maps</h3>

<div class="code"><pre>
i.band -r map=T33UVR_20180506T100031_B01,T33UVR_20180506T100031_B02
</pre></div>

<h3>Print band reference information about single raster map</h3>

<div class="code"><pre>
i.band -p map=T33UVR_20180506T100031_B01
</pre></div>

<h3>Print extended band reference information for a list of raster map</h3>

<div class="code"><pre>
i.band -p map=T33UVR_20180506T100031_B01,T33UVR_20180506T100031_B02
</pre></div>

<h2>KNOWN ISSUES</h2>

<em>i.band</em> allows managing band references only related to 2D
raster maps. Support for 3D raster maps and even for vector maps would
be nice to implemented.

<h2>SEE ALSO</h2>

<em>
  <a href="g.bands.html">g.bands</a>,
  <a href="r.info.html">r.info</a>
</em>

<h2>AUTHORS</h2>

Martin Landa<br>
Development sponsored by <a href="https://www.mundialis.de/en">mundialis
GmbH &amp; Co. KG</a> (for the <a href="https://openeo.org">openEO</a>
EU H2020 grant 776242)

<p>
<i>Last changed: $Date$</i>
